/* Ensure the body and html take up the full height */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Style for the full-screen background image */
.background-image {
    background-image: url('https://github.com/itseclmm/qr_alert/blob/main/360_F_467349259_mGzvK6Hqz8WBh5M1Xmy3OeX0ATDg3x5V.jpg'); /* Replace with your image URL */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for the centered text */
.centered-text {
    color: white; /* Change this based on your preference */
    text-align: center;
    font-size: 3em;
    font-family: Arial, sans-serif; /* Change this based on your preference */
}
